.mainContainer{
     display: flex;
     /* border: 2px solid black; */
     padding: 2rem;
     background-color: white;
     border-radius: 10px;
     margin: 1rem;


}
.inputBox{
    display: flex;
    flex-direction: column;
}
.inputBox label{
    font-size: 1.7rem;
}
.inputBox input{
    width: 85%;
    height: 2.5rem;
    border: none;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    background: transparent;
}
.inputBox input:focus{
    outline: none;
}
.currencyBox{
    display: flex;
    flex-direction: column;
}
.currencyBox p{
    font-size: 1.7rem;
}
.currencyBox select{
    width: 60%;
    height: 2.5rem;
    align-self: end;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
}